[package]
name = "pve-shared"
version = "0.1.0"
edition = "2021"

[dependencies]
serde.workspace = true
serde_json.workspace = true
uuid.workspace = true
chrono.workspace = true
sqlx.workspace = true
validator = { version = "0.16", features = ["derive"] }
