name: Rust Auto Format

on:
  workflow_dispatch:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - name: Format Rust code
        run: cargo fmt --all
      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "fix: auto format by cargo fmt" || echo "Nothing to commit"
          git push || echo "Nothing to push"
